*{
    margin: 0;
    padding: 0;
}
.box, .box2, .box3, .box4, .box5{
    display: flex;
    
}
@media (max-width:769px){
    .box, .box2, .box3, .box4, .box5{
    flex-wrap: wrap;
}
}    
.red{
    background-color: red;
    
}
.green{
    background-color:green;
}
.yellow{
    background-color:yellow;
}
.blue{
    background-color:blue;
}
.pink{
    background-color:pink;
}
.black{
    background-color:black;
}
.white{
    background-color:white;
}
.orange{
background-color:orange;
}
.grey{
background-color:gray;
}
.violet{
background-color:violet;
}
.lilac{
background-color:lightslategray;
}
.azure{
background-color:azure;
}
.coral{
background-color:coral;
}